@import 'normalize.css';
//add font ...
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    //reset 1rem = 10px
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed; //render text speed
}

h5,h4,h3,h6 {
    padding: 0;
    margin: 0;
}